// QA C3 — Fraunces + DM Sans auto-hébergées (pas de CDN Google Fonts / RGPD).
// Fichiers : static/src/fonts/*.woff2 (SIL Open Font License).
//
// P4 — Bitter ajoutée en test contrôlé pour le wordmark logo uniquement
// (cf. ck_tokens.scss::$ck-font-logo). Licence vérifiée SIL OFL 1.1
// (google/fonts/ofl/bitter/OFL.txt). N'affecte pas $ck-font-display
// (Fraunces reste la police des titres/H1/mega-menu — système typo
// inchangé hors logo, conformément à l'arbitrage MOA).

$ck-font-unicode-latin: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212,
    U+2215, U+FEFF, U+FFFD;
$ck-font-unicode-latin-ext: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF,
    U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;

@mixin ck-font-face-dm-sans($weight) {
    @font-face {
        font-family: "DM Sans";
        font-style: normal;
        font-weight: $weight;
        font-display: swap;
        src: url("../fonts/dm-sans-latin-ext.woff2") format("woff2");
        unicode-range: $ck-font-unicode-latin-ext;
    }
    @font-face {
        font-family: "DM Sans";
        font-style: normal;
        font-weight: $weight;
        font-display: swap;
        src: url("../fonts/dm-sans-latin.woff2") format("woff2");
        unicode-range: $ck-font-unicode-latin;
    }
}

@mixin ck-font-face-fraunces($weight) {
    @font-face {
        font-family: "Fraunces";
        font-style: normal;
        font-weight: $weight;
        font-display: swap;
        src: url("../fonts/fraunces-latin-ext.woff2") format("woff2");
        unicode-range: $ck-font-unicode-latin-ext;
    }
    @font-face {
        font-family: "Fraunces";
        font-style: normal;
        font-weight: $weight;
        font-display: swap;
        src: url("../fonts/fraunces-latin.woff2") format("woff2");
        unicode-range: $ck-font-unicode-latin;
    }
}

@mixin ck-font-face-bitter($weight) {
    @font-face {
        font-family: "Bitter";
        font-style: normal;
        font-weight: $weight;
        font-display: swap;
        src: url("../fonts/bitter-latin-ext.woff2") format("woff2");
        unicode-range: $ck-font-unicode-latin-ext;
    }
    @font-face {
        font-family: "Bitter";
        font-style: normal;
        font-weight: $weight;
        font-display: swap;
        src: url("../fonts/bitter-latin.woff2") format("woff2");
        unicode-range: $ck-font-unicode-latin;
    }
}

@include ck-font-face-dm-sans(400);
@include ck-font-face-dm-sans(500);
@include ck-font-face-dm-sans(600);
@include ck-font-face-dm-sans(700);
@include ck-font-face-fraunces(600);
@include ck-font-face-fraunces(700);
@include ck-font-face-bitter(700);
